// main.scss

@import 'variables.scss';
@import 'theme.scss';

// custom global styles
body {
    background-color: var(--body-bg-color);
    overflow: hidden;
    color: var(--primary-text-color);
}

.dropdown-divider {
    border-color: var(--divider-color);
}

// component styles
@import 'components.scss';

$sidenav-width: 350px;

.primary-navbar {
    background-color: var(--main-navbar-bg-color);
    z-index: 1061;
    height: 30px;
}

.btn {
    color: var(--primary-text-color);
    &:hover,
    &:focus,
    &:visited,
    &.active {
        color: var(--primary-text-hover-color);
    }
}

.secondary-navbar {
    top: 30px;
    height: 30px;
    .btn-link {
        margin-bottom: 1px;
        padding-bottom: 1px;
        border-radius: 0;
        margin-top: 1px;
        padding-top: 1px;
        &:hover {
            text-decoration: none;
        }
        &.active {
            border-bottom: 1px solid var(--highlight-color);
        }
    }
}

.secondary-navbar {
    background-color: var(--secondary-navbar-bg-color);
    border-bottom: var(--secondary-navbar-border-color);
    z-index: 1061;
}

.w-sidebar {
    width: $sidenav-width;
    max-width: $sidenav-width;
    top: 0;
    z-index: 1060;
    background-color: var(--sidenav-bg-color);
    border: 1px solid var(--sidenav-border-color);
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem .75rem;
    border-radius: 0;
    > span {
        margin-left: 6px;
    }
    &.active {
        background-color: var(--secondary-navbar-bg-color);
        border-left: 1px solid  var(--secondary-navbar-border-color);
        border-right: 1px solid  var(--secondary-navbar-border-color);
    }
}

.toggler {
    $height: 30px;
    height: $height;
    display: inline-block;
    .svg-icon {
        margin-top: 3px;
    }
}

.flex-1 {
    flex: 1;
}

.show,
.collapsing {
    .toggler {
        background-color: var(--secondary-navbar-btn-bg-color);
    }
}

.row.collapse {
    margin-right: -$sidenav-width;
    right: 0;
	transition: all .15s linear;
}

.row.collapse.show {
    margin-right: 0 !important;
}

.row.collapsing {
    margin-right: -$sidenav-width;
    right: -0.05%;
	transition: all .15s linear;
}

.overlay {
    .w-sidebar {
        right: 0;
    }
    .row.collapse,
    .row.collapsing {
        margin-right: 0 !important;
        right: 0 !important;
        overflow: visible;
    }

    .row > .sidebar.collapse {
        display: flex !important;
        margin-right: -100% !important;
        transition: all .3s linear;
        position: fixed;
        z-index: 1050;
        max-width: 0;
        min-width: 0;
        flex-basis: auto;
        .w-sidebar {
            width: 0;
        }
    }

    .row > .sidebar.collapse.show {
        margin-right: 0 !important;
        max-width: 100%;
        min-width: initial;
        .w-sidebar {
            width: $sidenav-width;
        }
    }

    .row > .sidebar.collapsing {
        display: flex !important;
        margin-right: -10% !important;
        transition: all .3s linear !important;
        position: fixed;
        z-index: 1050;
        min-width: initial;
    }

}
@media (max-width: 768px) {
    .row.collapse,
    .row.collapsing {
        margin-right: 0 !important;
        right: 0 !important;
        overflow: visible;
    }

    .row > .sidebar.collapse {
        display: flex !important;
        margin-right: -100% !important;
        transition: all .3s linear;
        position: fixed;
        z-index: 1050;
        max-width: 0;
        min-width: 0;
        flex-basis: auto;
    }

    .row > .sidebar.collapse.show {
        margin-right: 0 !important;
        width: 100%;
        max-width: 100%;
        min-width: initial;
    }

    .row > .sidebar.collapsing {
        display: flex !important;
        margin-right: -10% !important;
        transition: all .3s linear !important;
        position: fixed;
        z-index: 1050;
        min-width: initial;
    }

}

.svg-icon {
    color: var(--icon-color);
}

.btn-link {
    color: var(--link-color);
    &:hover {
        color: var(--link-hover-color);
    }
}
