// main.scss

@import 'variables.scss';
@import 'theme.scss';

// custom global styles
body {
    background-color: var(--body-bg-color);
    overflow-x: hidden;
    color: var(--primary-text-color);
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

.dropdown-divider {
    border-color: var(--divider-color);
}

// component styles
@import 'components.scss';

$sidenav-width: 350px;

.primary-navbar {
    background-color: var(--main-navbar-bg-color);
    border-bottom: 1px solid var(--divider-color);
    z-index: 1061;
    height: 40px;
    box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);
    .btn-icon {
        opacity: 0.4;
        &.active {
            opacity: 1;
        }
    }
}

.btn {
    color: var(--primary-text-color);
    &:hover,
    &:focus,
    &:visited,
    &.active {
        color: var(--primary-text-hover-color);
    }
}

.secondary-navbar {
    top: 40px;
    height: 35px;
    .btn-link {
        margin-bottom: -5px;
        padding-bottom: 1px;
        border-radius: 0;
        margin-top: 1px;
        padding-top: 1px;
        &:hover {
            text-decoration: none;
        }
        &.active {
            border-bottom: 2px solid var(--highlight-color);
        }
    }
}

.secondary-navbar {
    background-color: var(--secondary-navbar-bg-color);
    // border-bottom: 1px solid var(--secondary-navbar-border-color);
    z-index: 1061;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.w-sidebar {
    $top: 73px;
    width: $sidenav-width;
    max-width: $sidenav-width;
    top: $top;
    z-index: 1060;
    background-color: var(--sidenav-bg-color);
    height: 100%;
}

.sidebar {
    height: calc(100% - 73px) !important;
}

.w-sidebar-content {
    width: $sidenav-width;
    max-width: $sidenav-width;
    border: 1px solid var(--sidenav-border-color);
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem .75rem;
    border-radius: 0;
    > span {
        margin-left: 6px;
    }
    &.active {
        background-color: var(--secondary-navbar-bg-color);
        border-left: 1px solid  var(--secondary-navbar-border-color);
        border-right: 1px solid  var(--secondary-navbar-border-color);
    }
}

.flex-1 {
    flex: 1;
}

.show,
.collapsing {
    .toggler {
        background-color: var(--secondary-navbar-btn-bg-color);
    }
}

.row.collapse {
    margin-right: -$sidenav-width;
    right: 0;
	transition: width .15s linear, margin .15s linear;
}

.row.collapse.show {
    margin-right: 0 !important;
}

.row.collapsing {
    margin-right: -$sidenav-width;
    right: -0.05%;
	transition: width .15s linear, margin .15s linear;
}

.overlay {
    .w-sidebar {
        right: 0;
    }
    .row.collapse,
    .row.collapsing {
        margin-right: 0 !important;
        right: 0 !important;
        overflow: visible;
    }

    .row > .w-sidebar.collapse {
        display: flex !important;
        // margin-right: -100% !important;
        transition: width .15s linear, margin .15s linear;
        position: fixed;
        z-index: 1050;
        max-width: 0;
        min-width: 0;
        width: 0;
        flex-basis: auto;
        // .w-sidebar {
        //     width: 0;
        // }
    }

    .row > .w-sidebar.collapse.show {
        margin-right: 0 !important;
        max-width: 100%;
        width: $sidenav-width;
        min-width: initial;
        .w-sidebar {
            width: $sidenav-width;
        }
    }

    .row > .w-sidebar.collapsing {
        display: flex !important;
        // margin-right: -10% !important;
        transition: width .15s linear, margin .15s linear !important;
        position: fixed;
        z-index: 1050;
        min-width: initial;
    }

}
@media (max-width: 768px) {
    .row.collapse,
    .row.collapsing {
        margin-right: 0 !important;
        right: 0 !important;
        overflow: visible;
    }

    .row > .sidebar {
        transition: width .3s linear, margin .3s linear;
    }

    .row > .sidebar.collapse {
        display: flex !important;
        margin-right: -100% !important;
        position: fixed;
        z-index: 1050;
        max-width: 0;
        min-width: 0;
        flex-basis: auto;
    }

    .row > .sidebar.collapse.show {
        margin-right: 0 !important;
        width: 100%;
        max-width: 100%;
        min-width: initial;
    }

    .row > .sidebar.collapsing {
        display: flex !important;
        margin-right: -10% !important;
        transition: margin .3s linear, width .3s linear !important;
        position: fixed;
        z-index: 1050;
        min-width: initial;
    }

}

.svg-icon {
    color: var(--icon-color);
}

.btn-link {
    color: var(--link-color);
    &:hover {
        color: var(--link-hover-color);
    }
}
