:root {
    $highlight-color: #f48b00;
    $body-bg-color: #f7f7f7;
    $primary-color: #fff;
    $library-item-bg-color: #efefef;
    $main-navbar-bg-color: #fff;
    $secondary-navbar-bg-color: #fff;
    $secondary-navbar-border-color: #dddddd;
    $secondary-navbar-btn-bg-color: #dcdbd9;
    $sidenav-border-color: #dddddd;
    $sidenav-bg-color: #fff;
    $icon-color: #6d6d6d;
    $primary-text-color: #000;
    $secondary-text-color: #606060;
    $playlist-action-bg-color: #d9d9d9;
    $playlist-action-text-color: #999999;
    $link-color: #000;
    $link-hover-color: lighten(#000, 15%);
    $divider-color: #e9ecef;
    --divider-color: #{$divider-color};
    --library-item-bg-color: #{$library-item-bg-color};
    --link-color: #{$link-color};
    --primary-text-color: #{$primary-text-color};
    --secondary-text-color: #{$secondary-text-color};
    --link-hover-color: #{$link-hover-color};
    --playlist-action-bg-color: #{$playlist-action-bg-color};
    --playlist-action-text-color: #{$playlist-action-text-color};
    --highlight-color: #{$highlight-color};
    --icon-color: #{$icon-color};
    --body-bg-color: #{$body-bg-color};
    --main-navbar-bg-color: #{$main-navbar-bg-color};
    --secondary-navbar-bg-color: #{$secondary-navbar-bg-color};
    --secondary-navbar-border-color: #{$secondary-navbar-border-color};
    --secondary-navbar-btn-bg-color: #{$secondary-navbar-btn-bg-color};
    --sidenav-bg-color: #{$sidenav-bg-color};
    --sidenav-border-color: #{$sidenav-border-color};
}

:root[data-theme='dark'] {
    $highlight-color: #f48b00;
    $body-bg-color: #000;
    $primary-color: #000;
    $library-item-bg-color: #303234;
    $sidenav-bg-color: #292727;
    $main-navbar-bg-color: #333333;
    $secondary-navbar-bg-color: #303234;
    $secondary-navbar-border-color: #303234;
    $secondary-navbar-btn-bg-color: #303234;
    $secondary-color: #292727;
    $sidenav-border-color: #303234;
    $icon-color: #fff;
    $primary-text-color: #fff;
    $primary-text-hover-color: darken(#fff, 15%);
    $playlist-action-bg-color: #7d8083;
    $playlist-action-text-color: #999999;
    $link-color: #fff;
    $link-hover-color: darken(#fff, 15%);
    $divider-color: #303234;
    --divider-color: #{$divider-color};
    --library-item-bg-color: #{$library-item-bg-color};
    --link-color: #{$link-color};
    --link-hover-color: #{$link-hover-color};
    --playlist-action-bg-color: #{$playlist-action-bg-color};
    --playlist-action-text-color: #{$playlist-action-text-color};
    --icon-color: #{$icon-color};
    --primary-text-color: #{$primary-text-color};
    --body-bg-color: #{$body-bg-color};
    --main-navbar-bg-color: #{$main-navbar-bg-color};
    --secondary-navbar-bg-color: #{$secondary-navbar-bg-color};
    --secondary-navbar-border-color: #{$secondary-navbar-border-color};
    --secondary-navbar-btn-bg-color: #{$secondary-navbar-btn-bg-color};
    --sidenav-bg-color: #{$sidenav-bg-color};
    --sidenav-border-color: #{$sidenav-border-color};
}
