<!-- Templates -->
<!-- Playlist Template -->
<script type="text/x-template" id="playlist-template">
    <div>
        <div id="playlistNav" class="playlistNav">
            <div class="container">
                <div>
                    <span class="playlistHeader">Playlist</span>
                </div>
                <playlist-buttons></playlist-buttons>
                <div id="playlist">
                    <playlist-item v-bind:item="item" v-for="item in playlist"></playlist-item>
                </div>
                <div class="playlistNavMobile" id="mobilePlaylistNavButton">
                    <center><svg-icon name="format-list-bulleted"></svg-icon></center>
                </div>
            </div>
        </div>
    </div>
</script>
